[submodule "Firmware-STM32F407VE/cJSON"]
	path = Firmware-STM32F407VE/cJSON
	url = git@github.com:jdotw/cJSON.git
[submodule "forked-lvgl-branch"]
	path = Firmware-STM32F407VE/lvgl
	url = git@github.com:jdotw/lvgl.git
