[submodule "Firmware-STM32F407VE/lvgl"]
	path = Firmware-STM32F407VE/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "Firmware-STM32F407VE/cJSON"]
	path = Firmware-STM32F407VE/cJSON
	url = git@github.com:jdotw/cJSON.git
